<a href="https://colab.research.google.com/github/Kapil-Mandal/DAP_Lab/blob/main/Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Print "Hello, World!".

In [1]:
print("Hello, World!")

Hello, World!

2. Calculate the sum of two numbers.

In [17]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Sum:", a + b)

Enter first number: 4
Enter second number: 5
Sum: 9

3. Find the square of a number.

In [4]:
num = int(input("Enter a number: "))
print("Square:", num ** 2)

Enter a number: 4
Square: 16

4. Accept the user's name and greet them with it.

In [5]:
name = input("Enter your name: ")
print("Hello, " + name + "!")

Enter your name: Kapil
Hello, Kapil!

5. Check whether a number is even or odd.

In [6]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 6
Even

6. Write a Python program that takes a list and returns a new list with unique elements of the first list.

In [7]:
lst = list(map(int, input("Enter numbers separated by space: ").split()))
unique_elements = list(set(lst))
print("Unique elements:", unique_elements)

Enter numbers separated by space: 1 2 3 4 5
Unique elements: [1, 2, 3, 4, 5]

7. Convert Celsius to Fahrenheit.

In [8]:
celsius = int(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("Fahrenheit:", int(fahrenheit))

Enter temperature in Celsius: 40
Fahrenheit: 104

8. Calculate the area of a circle.

In [9]:
import math
radius = int(input("Enter radius: "))
area = math.pi * radius ** 2
print("Area of circle:", int(area))

Enter radius: 5
Area of circle: 78

9. Reverse a given string.

In [10]:
string = input("Enter a string: ")
print("Reversed string:", string[::-1])

Enter a string: kapil
Reversed string: lipak

10. Check if a number is a prime number.

In [11]:
num = int(input("Enter a number: "))
if num > 1:
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            print("Not a prime number")
            break
    else:
        print("Prime number")
else:
    print("Not a prime number")

Enter a number: 7
Prime number

11. Calculate the factorial of a number.

In [12]:
def factorial(n):
    return 1 if n == 0 else n * factorial(n - 1)

num = int(input("Enter a number: "))
print("Factorial:", factorial(num))

Enter a number: 4
Factorial: 24

12. Find the largest item from a given list.

In [13]:
lst = list(map(int, input("Enter numbers separated by space: ").split()))
print("Largest number:", max(lst))

Enter numbers separated by space: 4 2 1 6 9 7
Largest number: 9

13. Write a Python program to check whether a number is in a given range.

In [14]:
num = int(input("Enter a number: "))
start = int(input("Enter range start: "))
end = int(input("Enter range end: "))
print("In range:", start <= num <= end)

Enter a number: 5
Enter range start: 0
Enter range end: 9
In range: True

14. Calculate the number of upper case letters and lower case letters in a string.

In [15]:
s = input("Enter a string: ")
upper = sum(1 for c in s if c.isupper())
lower = sum(1 for c in s if c.islower())
print("Uppercase letters:", upper, "Lowercase letters:", lower)

Enter a string: Kapil
Uppercase letters: 1 Lowercase letters: 4