<a href="https://colab.research.google.com/github/Kapil-Mandal/DAP_Lab/blob/main/Week_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Creating a Pandas series.

In [1]:
import pandas as pd  # Importing the Pandas library
import numpy as np   # Importing NumPy

# Creating an empty Series
ser = pd.Series()
print("Pandas Series: ", ser)

#2nd one
# Creating a Series from a NumPy array
data = np.array(['g', 'e', 'e', 'k', 's'])
ser = pd.Series(data)
print("Pandas Series:\n", ser)

# List of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']

# Creating a DataFrame from the list
df = pd.DataFrame(lst)
print(df)

#3rd one
# Initializing data
data = {'Name': ['Tom', 'nick', 'krish', 'jack'], 'Age': [20, 21, 19, 20]}

# Creating DataFrame
df = pd.DataFrame(data)
print(df)

#4th one
# Dictionary of lists
dict_data = {'name': ["aparna", "pankaj", "sudhir", "Geeku"],
             'degree': ["MBA", "BCA", "M.Tech", "MBA"],
             'score': [90, 40, 80, 98]}

df = pd.DataFrame(dict_data)
print(df)

Pandas Series:  Series([], dtype: object)
Pandas Series:
 0    g
1    e
2    e
3    k
4    s
dtype: object
        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks
    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   20
     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98